<div class="container col-6 mx-auto">
  <div class="card mt-5">
    <div class="card-header text-white bg-dark opacity-75">Reverse Phrase</div>
    <div class="card-body">
      <div class="form-group">
        <label for="text">Text</label><br>
        <input id="text" (input)="onInputText($event)">
        <p>The text: {{text}}</p>
      </div>
      <div class="form-group">
        <button class="btn btn-danger" (click)="onClickReverse()" [disabled]="disablebutton()">Say hi in console :)</button>
        <p *ngIf="reversedText.length && text.length">The reversed text: {{reversedText}}</p>
      </div>
    </div>
  </div>
</div>
